*{
padding: 0;
margin: 0;
font-family: cursive;


}

body{
background: url(../img/wateeer.jpg);
background-size: cover;
color: #0000FF;

}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

h1{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase; 
    margin: 40px 0;
}

p{
font-size: 25px;
margin: 15px 0;
}

input, textarea{
font-size: 16px;
padding: 15px 10px;
width: 100%;
border: 0;
border-radius: 5px;
outline: none;
background: #7FFD4;
}

.btn{
font-size: 18px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 30%;
border: 0;
border-radius: 5px;
float:right;
cursor:pointer;
background: #2691d9;

}

a{
text-decoration: none;
color:black;
}
